@import './reset.scss';
@function px2rem ($px) {
    @return ($px / $designWidth) * 10 * 1rem ;
}

@function px2vw ($px) {
    @return $px / $designWidth * 1vw;
}

// Component Colors
@text-color: #3D11EE;
@border-color: #3D11EE;
@active-color: #3D11EE;
@background-color: #f7f8fa;
@background-color-light: #3D11EE;
